.wave {
  position: absolute;
  height: 10vh;
  width: 200vw;
  left: -50vw;
  right: -50vw;
  transform-origin: 50% 100%;
  fill: var(--bg);
}
.wave linearGradient > :nth-child(1) {
  stop-color: #dee7ec11;
}
.wave linearGradient > :nth-child(2) {
  stop-color: #dee7ec11;
}
.wave linearGradient > :nth-child(3) {
  stop-color: #dee7ec;
}

.wave:nth-child(1) {
  opacity: 0.3;
  transform: translateX(10vw);
  animation: wave-1 5s infinite alternate ease-in-out;
  animation-delay: 0.2s;
}
.wave:nth-child(2) {
  opacity: 0.3;
  transform: translateX(-20vw);
  animation: wave-2 5s infinite alternate ease-in-out;
  animation-delay: 0.4s;
}
.wave:nth-child(3) {
  opacity: 0.3;
  transform: translateX(40vw);
  animation: wave-3 5s infinite alternate ease-in-out;
  animation-delay: 0.8s;
}
.wave:nth-child(4) {
  opacity: 1;
  transform: translateX(-40vw);
  animation: wave-4 5s infinite alternate ease-in-out;
}

@keyframes wave-1 {
  0% {
    transform: translateX(10vw);
  }
  100% {
    transform: translateX(-30vw);
  }
}
@keyframes wave-2 {
  0% {
    transform: translateX(-20vw);
  }
  100% {
    transform: translateX(20vw);
  }
}
@keyframes wave-3 {
  0% {
    transform: translateX(40vw);
  }
  100% {
    transform: translateX(-10vw);
  }
}
@keyframes wave-4 {
  0% {
    transform: translateX(-40vw);
  }
  100% {
    transform: translateX(40vw);
  }
}
