.background {
  display: block;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}
.background.swedenMap {
  height: 200px;
  cursor: pointer;
  background-image: url("../public/maps/sweden.png");
}
.background.germanyMap {
  height: 200px;
  cursor: pointer;
  background-image: url("../public/maps/germany.png");
}
