.background {
  display: block;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}
.background.swedenMap {
  height: 200px;
  cursor: pointer;
  background-image: url("../public/maps/sweden.png");
}
.background.germanyMap {
  height: 200px;
  cursor: pointer;
  background-image: url("../public/maps/germany.png");
}


.download-quiz {
  display: flex; 
  justify-content: space-around;
}
@media only screen and (max-width: 500px) {
  .download-quiz {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
}